<link rel="stylesheet" href="/css/checkout.css">

    <div class='container1'>
      <div class='window'>
        <div class='order-info'>
          <div class='order-info-content'>
            <h2>Order Summary</h2>
            {{#each services}}
            <div class='line'></div>
            <table class='order-table'>
              <tbody>
                <tr>  
                  <td><img src="{{HINHANH}}" class='full-width'></img>
                  </td>
                  <td>
                    <br> <span class='thin'>{{TENDICHVU}}</span><br><br>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class='price'>{{GIA}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
            {{/each}}
            <div class='line'></div>
            <div class='total'>
              <span style='float:left;'>
                <div class='thin dense'>Khuyến mãi 0%</div>
                TOTAL
              </span>
              <span style='float:right; text-align:right;'>
                <div class='thin dense'>0 VND</div>
                {{total}} VND
              </span>
            </div>
    </div>
    </div>
            <div class='credit-info'>
              <div class='credit-info-content'>
                <a class="pay" href="/bill/{{id}}/checkout">
                <button class='pay-btn'>checkout</button></a>
              </div>
    
            </div>
          </div>
    </div>