<link rel="stylesheet" href="/css/product.css">
<div class="mt-4 ">
    <h3>Update Product Rating {{productRating.MADGSP}}</h3>
    <form class="mt-4" method="POST" action="/productRating/{{productRating.MADGSP}}/edit">
        <div>
            <label for="customerID">Mã khách hàng: </label><br>
            <input type="text" name="customerID" id="customerID" width="full" value="{{productRating.MAKH}}"><br>
        </div>
        <div>
            <label for="productID">Mã sản phẩm: </label><br>
            <input type="text" name="productID" id="productID" width="full" value="{{productRating.MASP}}"><br>
        </div>
        <div>
            <label for="date">Ngày đánh giá:</label><br>
            <input type="date" name="date" id="date" width="full" value="{{productRating.NGAYDANHGIA}}"><br>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<script>
    let checkedType = document.getElementById('typeProductChosen').getAttribute('data-id');
    document.querySelectorAll("#typeProduct").forEach(e => {
        if (e.value == checkedType)
            e.checked = true;
    })
</script>