<div class="container">
    <div class="row">
        {{#each product}}
        <div class="col-6">
            <img class="card-img-top" src={{HINHANH}} alt="Card-image-cap">
            <div class="card-body">
                <h5 class="card-title">{{MASP}}</h5>
                <p class="card-text">{{TENSANPHAM}}</p>
                <p class="card-text">Giá: {{GIA}}</p>
                <p class="card-text">Xuất xứ: {{XUATXU}}</p>
                <p class="card-text product-status" data-id={{SOLUONG}}></p>
                <p class="card-text">Mã loại sản phẩm: {{MALSP}}</p>
                <a href="#" class="btn btn-primary">Buy now</a>
            </div>
        </div>
        {{/each}}

    </div>
</div>

<script>
    let x = document.querySelectorAll(".product-status")
    console.log(x);
    x.forEach(elem => {
        let remain = elem.getAttribute('data-id')
        elem.innerHTML = elem.getAttribute('data-id') == '0' ? 'Het hang (' + remain + ')' : 'Con hang (' + remain + ')';
    });


</script>