<link rel="stylesheet" href="/css/header.css">
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/images/logoheader.png" alt=""></a>
        </div>
        <div id="content" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 header" data-id={{header}}>
                <a href="/" id="tc1" class="nav-link px-2 text-white header_item header_item--active">
                    <label for="tc">Home</label>
                </a>
                <a href="/service" id="dv1" class="nav-link px-2 text-white header_item ">
                    <label for="dv">Services</label>
                </a>
                <a href="/products" id="sp1" class="nav-link px-2 text-white header_item " hidden="true">
                    <label for="sp">Products</label>
                </a>
                <a href="/about" id="lh1" class="nav-link px-2 text-white header_item ">
                    <label for="lh">About</label>
                </a>
            </ul>
            <div class="text-end1">
                {{#if status}}
                <input type="text" class="stat" id = "stat" value="{{status}}" hidden="true">
                <div id="user" class="me-2" hidden="true">
                    <div class="shop">
                        <a href="/order">
                        <i id="shopping" class="fas fa-shopping-cart"></i>
                        <div class="nosh">
                            {{!-- <div>
                                <img id="noshop" src="./assets/img/no.png" alt="">
                                <b>Hiện tại không có đơn hàng</b>
                            </div> --}}
                            <div class="noempty">
                                <ul class="listsp">
                                    <li>
                                        <h6> Sản phẩm đã thêm</h6>
                                    </li>
                                    <li>
                                        <img src="./assets/img/uppercut.jpg" alt="">
                                        <span> Keo vuốt tóc uppercut</span>
                                        <span> Giá:200.000</span>
                                        <span> Số Lượng:20</span>
                                        <span>
                                            <a href=""> Xoá</a>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="usa">
                    <input style="display:none" type="checkbox" name="check" id="use">
                    <label id="user2" for="use"> <img id="avata" src="{{img}}" alt=""> <b
                            id="name">{{username}}</b></label>
                    <div class="contentus">
                        <ul>
                            <li> <a href="/account"> Thông tin cá nhân </a></li>
                            <li><a href="/booking">Lịch đặt</a></li>
                            <li> Đơn hàng</li>
                            <li><a href="/authenticate/logout">Thoát</a></li>
                            
                        </ul>
                    </div>
                </div>
                {{else}}
                <div>
                    <a href="/authenticate/register" type="button" class="btn btn-warning">Sign-up</a>
                    <a href="/authenticate/login" type="button" class="btn btn-outline-light me-2">Login</a>
                </div>
                {{/if}}

            </div>


        </div>
    </div>
    </div>
</header>
<script>
    try {
        document.querySelector('.shop').onmouseover = function () {
            document.querySelector('#use').checked = false;
        }
    } catch (e) {
        //pass;
    };
    let headerItemsActiveID = document.querySelector('.header').getAttribute('data-id');
    let headerItems = document.querySelectorAll('.header_item');
    headerItemsActiveID && document.querySelector('.header_item--active').classList.remove("header_item--active");
    for (let i = 0; i < headerItems.length; i++) {
        if (headerItemsActiveID == i) {
            headerItems[i].classList.add('header_item--active');
        }
    }

</script>