<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">MaNV</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Số đt</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Ngày vào làm</th>
            <th scope="col">Loại nv</th>
            <th scope="col">Email</th>
            <th scope="col">Mã lương</th>
            <th scope="col">Lương cơ bản</th>
            <th scope="col">Lương thưởng</th>
            <th scope="col">Lương được nhận</th>
            <th scope="col">Ngày nhận lương</th>
            <th scope="col">status</th>
        </tr>
    </thead>
    {{#each employee}}
    <tbody>
        <tr>
            <th scope="row">{{MANV}}</th>
            <td>{{HO}} {{TEN}}</td>
            <td>{{NGAYSINH}}</td>
            <td>{{GIOITINH}}</td>
            <td>{{SODT}}</td>
            <td>{{DIACHI}}</td>
            <td>{{NGAYVAOLAM}}</td>
            <td>{{LOAINHANVIEN}}</td>
            <td>{{EMAIL}}</td>
            <td>{{MALUONG}}</td>
            <td>{{LUONGCOBAN}}</td>
            <td>{{LUONGTHUONG}}</td>
            <td>{{LUONGDUOCNHAN}}</td>
            <td>{{NGAYNHANLUONG}}</td>
            <td>{{TINHTRANG}}</td>
        </tr>
    </tbody>

    {{/each}}

</table>
<button class="btn btn-primary"><a href="/employee/add">Add</a></button>
{{!-- Delete Model --}}
<div class="modal fade" id="deleteRecord" tabindex="-1" aria-labelledby="deleteRecordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecordLabel">Delete employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete employee?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning" id="btn-delete-employee">Yes</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden Form --}}
<form name="delete-employee-form" method="POST" action=""></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let employeeId;
        let deleteForm = document.forms['delete-employee-form'];
        let btnDeleteEmployee = document.getElementById('btn-delete-employee');

        // When dialog confirm clicked
        $('#deleteRecord').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            employeeId = button.data('id');
        });

        // When delete button clicked
        btnDeleteEmployee.onclick = function () {
            deleteForm.action = '/employee/' + employeeId + '?_method=DELETE';
            deleteForm.submit();
        };
    })
</script>