<link rel="stylesheet" href="/css/booking.css">

<div class="mt-4 ">
    <p></p>
    <h3>Add Booking</h3>
    <form class="mt-4" >
        <div class="form-group">
            <label for="date">Date :</label>
            <p class="booking_type">
                {{#each day}}
                <label><input type="radio" name="date" value="{{0}}"><span>{{0}}</span></label>
                {{/each}}
            </p>
        </div>
        <div class="form-group" >
            <label for="employee">employee:</label>
                <p class="booking_type">
                {{#each employeeName}}
                    <label><input type="radio" name="employee" value="{{MANV}}" onclick="addTimePeriod({{MANV}})"><span>{{HO}} {{TEN}}</span></label>
                {{/each}}
                </p>
            <label for="time">Time :</label>
            <p class="booking_type">
                {{#each timePeriod}}
                <label><input type="radio" name="time" value="{{MAGIO}}"><span>{{KHUNGGIO}}</span></label>
                {{/each}}
            </p>
        </div>
        <div id="addTime"></div>
        <div class="form-group">

            <label for="employeeName">Employee:</label>
            <p class="booking_type">
                {{#each employeeName}}
                <label><input type="radio" class="employee" name="employee" value="{{MANV}}"><span>{{HO}} {{TEN}}</span></label>
                {{/each}}
            </p>
        </div>
        <div class="form-group">
            <label for="serviceName">Service:</label>
                <p class="booking_type">
                {{#each serviceName}}
                    <label><input type="checkbox" name="service" value="{{MADV}}" onclick="total({{GIA}})"><span>{{TENDICHVU}}</span></label>
                {{/each}}
                </p>
        </div>
        <div id="addEmployee"></div>
        <div class="form-group">
            <p class="booking_type">
                <div>
                    <label >TOTAL: </label>
                    <label id="showTotal"></label>
                </div>
            </p>
        </div>
        <button id ="addBooking" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<script <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    let money = 0;
    let lstMoney = [];
    async function show(MANV) {
        let conn;
        try {
            conn = await oracledb.getConnection(config);
            let exec = ```SELECT GIODAT.MAGIO 
            FROM GIODAT 
            WHERE GIODAT.MAGIO NOT IN(
                SELECT  GIODAT.MAGIO 
                FROM DatLich,GIODAT 
                WHERE GIODAT.MAGIO = DATLICH.MAGIO 
                AND DATLICH.MANV=21)```;
            const result = await conn.execute(exec);
            if (conn) {
                await conn.close();
            }
            return result.rows;
        } catch (err) {
            console.log("Ouch!", err);
        }
    }
    function total(GIA){
            function checkMoney(money) {
            return money == GIA;
        }
        if(lstMoney.findIndex(checkMoney) == -1){
            money = money + GIA
            lstMoney.push(GIA);
            document.getElementById("showTotal").innerHTML = money;
            
        }
        else{
            money = money - GIA
            delete lstMoney[lstMoney.findIndex(checkMoney)];
            document.getElementById("showTotal").innerHTML = money;
        }
    }
</script>


<script>
    $(document).ready(function(){
        $("#ok").click(function(){
            $("pre").text("Hello world!");
            console.log("ok");
        });
    });
</script>
<script>
    $(document).ready(function(){
        $( ".employee" ).on("click", function(event) {
            event.preventDefault();
            let employee = $(".employee").val()
            alert(employee);
            console.log(employee);
            });
    });
</script>
<div>
    <button id ="ok"> test</button>
    <pre>ok</pre>
</div>

