<link rel="stylesheet" href="/css/booking.css">

<div class="mt-4 ">
    <h1 id="ok"></h1>
    <h3>Add Booking</h3>
    <form class="mt-4" method="POST" action="/booking/?_method=PUT" >
        <div class="form-group">
            <label for="date">Date :</label>
            <p class="booking_type">
                {{#each day}}
                <label><input type="radio" name="date" value="{{0}}"><span>{{0}}</span></label>
                {{/each}}
            </p>
        </div>
        
        <div class="form-group">
            <label for="serviceName">Service:</label>
            <p class="booking_type">
                {{#each serviceName}}
                <label><input type="checkbox" name="service" value="{{MADV}}"
                        onclick="total({{GIA}})"><span>{{TENDICHVU}}</span></label>
                {{/each}}
            </p>
        </div>
        <div class="form-group">
            <label for="employeeName">Employee:</label>
            <p class="booking_type">
                {{#each employeeName}}
                <label><input type="radio" class="employee" name="employee" value="{{MANV}}" ><span>{{HO}}
                        {{TEN}}</span></label>
                {{/each}}
            </p>
        </div>
        <div class="form-group" id="timeSelect">
             {{!-- <label for="time">Time:</label>
                        <p class="booking_type">
                            {{#each timePeriod}}
                                <label><input type="radio" name="time" value="{{MAGIO}}"><span>{{KHUNGGIO}}</span></label>
                            {{/each}}
                        </p> --}}
        </div>
        <div class="form-group">
            <p class="booking_type">
            <div>
                <label>TOTAL: </label>
                <label id="showTotal"></label>
            </div>
            </p>
        </div>
        <div id="timePeriod" class="form-group">

        </div>
        <button id="addBooking" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    let money = 0;
    let lstMoney = [];
    function total(GIA) {
        function checkMoney(money) {
            return money == GIA;
        }
        if (lstMoney.findIndex(checkMoney) == -1) {
            money = money + GIA
            lstMoney.push(GIA);
            document.getElementById("showTotal").innerHTML = money;
        }
        else {
            money = money - GIA
            delete lstMoney[lstMoney.findIndex(checkMoney)];
            document.getElementById("showTotal").innerHTML = money;
        }
    }
    $(document).ready(function () {
        $(".employee").on("click", function () {
            let employee = $(this).val();
            $(this).attr('checked', true);
            $.ajax({
                url: "/booking/addAjax",
                data : {id:employee},
                method : "POST",
                type : "POST",
                contentype : "application/x-www-form-urlencoded" ,
                success: (res)=>{
                    let data=res;
                    let renderString=[];
                    renderString.push('<label for="time">Time:</label>');
                    renderString.push('<p class="booking_type">');
                    data.forEach(data=>{
                        renderString.push(`
    <label><input type="radio" name="time" value="${data.MAGIO}"><span>${data.KHUNGGIO}</span></label`);
                    })
                    renderString.push(`</p>`);
                    $('#timeSelect').html(renderString.join(''));
                }
            });
        });
    });
</script>
{{!-- .done(function(data){
                alert(data);
                /* let cform =  '<label for="time">Time:</label>'
                            +'<p class="booking_type">'
                            +    '{{#each timePeriod1}}'
                            +        '<label><input type="radio" name="time"><span>{{KHUNGGIO}}</span></label>'
                            +    '{{/each}}'
                            +'</p>'*/; 
                //document.getElementById("timePeriod").innerHTML = cform;
            }) --}}
