<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã đặt lịch</th>
            <th scope="col">Ngày</th>
            <th scope="col">Khung giờ</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Nhân viên</th>
            <th scope="col">Dịch vụ</th>
            <th scope="col">Giá</th>
        </tr>
    </thead>
    {{#each booking}}
    <tbody>
        <tr>
            <th scope="row">{{MADL}}</th>
            <td>{{NGAY}}</td>
            <td>{{KHUNGGIO}}</td>
            <td>{{HO}} {{TEN}}</td>
            <td>{{HO_1}} {{TEN_1}}</td>
            <td>{{TENDICHVU}}</td>
            <td>{{GIA}}</td>
        </tr>
    </tbody>

    {{/each}}

</table>