<link rel="stylesheet" href="/css/detail.css">


<div class="container">
    <ul class="information">
        <p><b>Mã khách hàng:</b> {{MAKH}}</p>
        {{#each bookingDetail}}
            <p><b>Khách hàng:</b> {{HO}} {{TEN}}</p>
            <p><b>Giờ:</b> {{KHUNGGIO}}</p>
            <p><b>Tên nhân viên:</b> {{HO_1}} {{TEN_1}}</p>
            <p><b>Ngày đặt:</b> {{DAY}}/{{MONTH}}/{{YEAR}}</p>
        {{/each}}
    </ul>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Mã dịch vụ</div>
                <div class="col col-2">Tên dịch vụ</div>
                <div class="col col-3">Giá</div>
            </li>
        {{#each lstService}}          
            <li class="table-row">
                <div class="col col-1" data-label="Mã dịch vụ">{{MADV}}</div>
                <div class="col col-2" data-label="Tên dịch vụ">{{TENDICHVU}}</div>
                <div class="col col-3" data-label="Giá">{{GIA}}</div>
            </li>
        {{/each}}
    </ul>
</div>