<link rel="stylesheet" href="/css/booking.css">

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã đặt lịch</th>
            <th scope="col">Ngày</th>
            <th scope="col">Khung giờ</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Nhân viên</th>
            <th scope="col">Chi Tiết</th>
        </tr>
    </thead>
    {{#each booking}}
    <tbody>
        <tr>
            <th scope="row">{{MADL}}</th>
            <td>{{NGAY}}</td>
            <td>{{KHUNGGIO}}</td>
            <td>{{HO}} {{TEN}}</td>
            <td>{{HO_1}} {{TEN_1}}</td>
            <td><button><a href="/booking/{{MADL}}/showDetail" >Chi tiết</a></button></td>
        </tr>   
    </tbody>

    {{/each}}

</table>