<link rel="stylesheet" href="/css/bookingAdd.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" /> 
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/unicons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<iframe src="#!" onload="getID({{id}})" width="0px" height="0px" ></iframe>

<div class="section over-hide z-bigger"></body>>
    <input class="checkbox" type="checkbox" name="general" id="general">
    <label class="for-checkbox" for="general"></label>
    <div class="background-color"></div>
    <div class="section over-hide z-bigger">
    <div class="container">
        <form class="mt-4" method="POST" action="/booking/{{id}}/update/?_method=PUT" class="updateForm">
            <div class="row justify-content-center">
                <div class="col-12">
                    {{#each lstService}}
                        <iframe src="#!" onload="getTypeService('{{MALDV}}')" width="0px" height="0px"></iframe>
                    {{/each}}
                </div>
                <div class="col-12"> 
                    <p class="bookingHeading">Update Booking</p>
                </div>
                <div class="col-12">
                            <p class="pickedDayChange">Pick A Day</p>
                </div>
                <div class="col-12 pickDay" id="Day">
                    {{#each day}}
                        {{#if check}}
                            <input class="checkbox-tools dayPick" type="radio" value="{{day}}" name="date" id="{{day}}" onclick="getEmployee('{{day}}')" checked=true>
                                <label class="for-checkbox-tools" for="{{day}}">
                                    <i class="far fa-calendar-alt mb-2"></i>
                                    {{day}}
                                </label>
                        {{else}}
                            <input class="checkbox-tools dayPick" type="radio" value="{{day}}" name="date" id="{{day}}" onclick="getEmployee('{{day}}')">
                                <label class="for-checkbox-tools" for="{{day}}">
                                    <i class="far fa-calendar-alt mb-2"></i>
                                    {{day}}
                                </label>
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col-12 pickStylist" id="employeeName">
                    <div class="col-12">
                            <p>Pick Your Stylist</p>
                    </div>
                    {{#each employeeBooking}}
                        {{#if check}}
                            <input class="checkbox-tools" type="radio" name="employee" value="{{MANV}}" id="{{MANV}}{{HO}}{{TEN}}" onclick="getTime({{MANV}},'{{day}}')" checked=true>
                            <label class="for-checkbox-tools" for="{{MANV}}{{HO}}{{TEN}}">
                                <i class="far fa-user"></i>
                                {{HO}} {{TEN}}
                            </label>
                        {{else}}
                            <input class="checkbox-tools" type="radio" name="employee" value="{{MANV}}" id="{{MANV}}{{HO}}{{TEN}}" onclick="getTime({{MANV}},'{{day}}')">
                            <label class="for-checkbox-tools" for="{{MANV}}{{HO}}{{TEN}}">
                                <i class="far fa-user"></i>
                                {{HO}} {{TEN}}
                            </label>
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col-xl-10 pickTime" id="timeSelect">
                    <div class="col-12">
                        <p>Pick A Time</p>
                    </div>
                    {{#each time}}
                        {{#if check}}
                        
                            <input class="checkbox-budget" type="radio" name="time" value="{{MAGIO}}" id="{{KHUNGGIO}}" checked=true>
                                <label class="for-checkbox-budget" for="{{KHUNGGIO}}">
                                    <span data-hover="{{KHUNGGIO}}">{{KHUNGGIO}}</span>
                                </label>
                        {{else}}
                            <input class="checkbox-budget" type="radio" name="time" value="{{MAGIO}}" id="{{KHUNGGIO}}">
                                <label class="for-checkbox-budget" for="{{KHUNGGIO}}">
                                    <span data-hover="{{KHUNGGIO}}">{{KHUNGGIO}}</span>
                                </label>
                        {{/if}}
                    {{/each}}
                </div>
            
                <div class="col-12 pickStylist" id="employeeName"></div>
                <div class="col-xl-10 pickTime" id="timeSelect"></div>
                <div class="col-12 ">
                    <p>Choose Service Type</p>
                </div>
                <div class="col-12 pickServiceType" >
                        {{#each typeService}}
                        {{#if check}}
                            <input class="checkbox-booking" type="checkbox" name="serviceType" value="{{MALDV}}" id="{{TENLOAIDICHVU}}" onclick="getService({{MALDV}})" checked=true>
                            <label class="for-checkbox-booking" for="{{TENLOAIDICHVU}}">
                            <i class='uil uil-coffee mr-3'></i><span class="text">{{TENLOAIDICHVU}}</span>
                            </label>
                        {{else}}
                            <input class="checkbox-booking" type="checkbox" name="serviceType" value="{{MALDV}}" id="{{TENLOAIDICHVU}}" onclick="getService({{MALDV}})">
                            <label class="for-checkbox-booking" for="{{TENLOAIDICHVU}}">
                            <i class='uil uil-coffee mr-3'></i><span class="text">{{TENLOAIDICHVU}}</span>
                            </label>
                        {{/if}}
                        {{/each}}
                </div>
                <div class="col-12 ">
                    <p>Choose Service</p>
                </div>
                {{#each typeService}}
                    <div class="col-12 pickServiceType" id="{{MALDV}}"></div>
                {{/each}}
            </div> 
        </form>
        <div class="row justify-content-center">
            <div class="col-xl-10 pt-5">
                <input class="checkbox-budget" type="radio">
                    <label class="update"><span>UPDATE</span></label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 pt-5">
                <input class="checkbox-budget" type="radio">
                    <label class="delete" data-bs-toggle="modal" data-bs-target="#deleteRecord"><span>
                           DELETE
                </span></label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 pt-5">
                <input class="checkbox-budget" type="radio">
                    <label class="back"><span>
                        <a href="/booking" class="back">BACK</a>
                    </span></label>
            </div>
        </div>
    </div>
    </div>    
</div>

<div class="modal fade" id="deleteRecord" tabindex="-1" aria-labelledby="deleteRecordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecordLabel">Delete booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div clas="modal-body">
                Do you want delete booking?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning" id="btn-delete-booking">Yes</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden Form --}}
<form name="delete-booking-form" method="POST" action=""></form>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script>
    $('.update').click(() => {
        $('form')[0].submit();
    })
    document.addEventListener('DOMContentLoaded', function () {
        let deleteForm = document.forms['delete-booking-form'];
        let btnDeleteBooking = document.getElementById('btn-delete-booking');

        // When dialog confirm clicked
        $('#deleteRecord').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
        });

        // When delete button clicked
        btnDeleteBooking.onclick = function () {
            deleteForm.action = '/booking/' + idBooking + '?_method=DELETE';
            deleteForm.submit();
        };
    })
    let day = -1;
    let employee = -1;
    let idBooking;
    let checkTypeService = [];
    function getID(id,lstService){
            idBooking = id;
    }
    function getTypeService(MALDV){
        checkTypeService.push(MALDV);
        $.ajax({
                url: "/booking/getOldService",
                data : {
                    id: MALDV,
                    idBookingUpdate: idBooking,
                },
                method : "POST",
                type : "POST",
                contentype : "application/x-www-form-urlencoded" ,
                success: (res)=>{
                    let data=res;
                    let render=[];
                    //renderString.push('<label for="service">Service:</label>');
                    data.forEach(data=>{
                        if (data.check == 1){
                            render.push(`
                                    <input class="checkbox-budget" type="radio" name="${MALDV}" value="${data.MADV}" id="${data.TENDICHVU}" checked=true>
                                    <label class="for-checkbox-budget" for="${data.TENDICHVU}">
                                        <span data-hover="${data.TENDICHVU}">${data.TENDICHVU}</span>
                                    </label>
                                    `);
                        } else{
                            render.push(`
                                    <input class="checkbox-budget" type="radio" name="${MALDV}" value="${data.MADV}" id="${data.TENDICHVU}">
                                    <label class="for-checkbox-budget" for="${data.TENDICHVU}">
                                        <span data-hover="${data.TENDICHVU}">${data.TENDICHVU}</span>
                                    </label>
                                    `);
                        }
                    })
                    render = render.join('');
                    document.getElementById(MALDV).innerHTML = render;
                }
            });
    }
    function getEmployee(date) {
        if (day != date){
            day = date;
            employee = -1;
            document.getElementById("timeSelect").innerHTML = "";
            let cform =`<div class="col-12">
                                <p>Pick Your Stylist</p>
                        </div>
                        {{#each employeeBooking}}
                            <input class="checkbox-tools" type="radio" name="employee" value="{{MANV}}" id="{{MANV}}{{HO}}{{TEN}}" onclick="getTime({{MANV}},1)">
                            <label class="for-checkbox-tools" for="{{MANV}}{{HO}}{{TEN}}">
                                <i class="far fa-user"></i>
                                {{HO}} {{TEN}}
                            </label>
                        {{/each}}`;
            document.getElementById("employeeName").innerHTML= cform;
        }
    }
    function getTime(MANV,date){
        if (day == -1){
            day = date;
        }
        if (employee != MANV){
            employee = MANV;
            $.ajax({
                url: "/booking/updateTimePeriod",
                data : {
                    idEmployee:employee,
                    day: day,
                    idBookingUpdate: idBooking,
                },
                method : "POST",
                type : "POST",
                contentype : "application/x-www-form-urlencoded" ,
                success: (res)=>{
                    let data=res;
                    let renderTime=[];
                    renderTime.push(`<div class="col-12">
                                        <p>Pick A Time</p>
                                    </div>`);
                    data.forEach(data=>{
                        renderTime.push(`<input class="checkbox-budget" type="radio" name="time" value="${data.MAGIO}" id="${data.KHUNGGIO}">
                                            <label class="for-checkbox-budget" for="${data.KHUNGGIO}">
                                                <span data-hover="${data.KHUNGGIO}">${data.KHUNGGIO}</span>
                                            </label>`);
                    })
                    $('#timeSelect').html(renderTime.join(''));
                }
            });
        }
    }
    function getService(MALDV){
        let render = [];
        let typeService = MALDV;
        function checkType(type) {
            return type == typeService;
        }
        if (checkTypeService.find(checkType)){
            $(this).attr('checked', false);
                document.getElementById(MALDV).innerHTML = "";
                delete checkTypeService[checkTypeService.findIndex(checkType)];
        } else{
            $(this).attr('checked', true);
            $.ajax({
                url: "/booking/addService",
                data : {
                    id: typeService,
                },
                method : "POST",
                type : "POST",
                contentype : "application/x-www-form-urlencoded" ,
                success: (res)=>{
                    let data=res;
                    let render=[];
                    //renderString.push('<label for="service">Service:</label>');
                    data.forEach(data=>{
                        render.push(`
                                <input class="checkbox-budget" type="radio" name="${typeService}" value="${data.MADV}" id="${data.TENDICHVU}">
                                <label class="for-checkbox-budget" for="${data.TENDICHVU}">
                                    <span data-hover="${data.TENDICHVU}">${data.TENDICHVU}</span>
                                </label>`);
                    })
                    render = render.join('');
                    document.getElementById(MALDV).innerHTML = render;
                }
            });
            checkTypeService.push(typeService);
        }
    };
</script>