<link rel="stylesheet" href="/css/Adding_Update.css">


<body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">   
                <div class="form-content">
                    <div class="form-items">
                        <h3>CHỈNH SỬA {{service.MADV}}</h3>
                        <p>Điền vào khung bên dưới</p>
                        <form class="requires-validation" method="POST" action="/service/{{service.MADV}}/edit">
                            <span class="items-group">
                                <div class="col-sm-16 mt-3">Name Service:
                                    <input class="form-control" type="text" id="name" name="name" placeholder="Name" value="{{service.TENDICHVU}}"required>
                                    <div class="valid-feedback">This field is valid!</div>
                                </div>
                            </span>
                            <br>
                            <span class="items-group">
                                <div class="col-sm-8 mt-3">Price:(VND)
                                    <input class="form-control currency" type="number" id="price" min="10000" step="1000" name="price" value="{{service.GIA}}" required>
                                    <div class="valid-feedback">This field is valid!</div>
                                </div>
                            </span><br>
                            <span class="items-group">
                                <div class="col-sm-16 mt-3">Picture:
                                    <input class="form-control" type="file" id="img" name="img" placeholder="img" value="{{service.HINHANH}}"required>
                                    <div class="valid-feedback">This field is valid!</div>
                                </div>
                            </span><br><br>
                            <div class="col-md-12 mt-6" id="typeServiceChosen" data-id="{{service.MALDV}}">
                                <label class="mb-3 mr-1" for="typeService">Type Service</label>
                                {{#each serviceType}}
                                    {{#if check}}
                                        <input type="radio" class="btn-check" name="typeService" value="{{MALDV}}" id="{{MALDV}}" autocomplete="off" value="{{MALDV}}" checked=true required>
                                        <label class="btn btn-sm btn-outline-secondary" for="{{MALDV}}">{{TENLOAIDICHVU}}</label>
                                    {{else}}
                                        <input type="radio" class="btn-check" name="typeService" value="{{MALDV}}" id="{{MALDV}}" autocomplete="off" value="{{MALDV}}" required>
                                        <label class="btn btn-sm btn-outline-secondary" for="{{MALDV}}">{{TENLOAIDICHVU}}</label>
                                    {{/if}}
                                {{/each}}
                                <div class="invalid-feedback mv-up">Please select a type service!</div>
                            </div>
                            <div class="col-md-12 mt-6">Describe:
                                <textarea name="describe" cols="20" rows="4" required>{{service.MOTADICHVU}}</textarea>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label">I confirm that all data are correct</label>
                                <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                            </div>


                            <span class="items-group">
                                <div class="col-sm-8 form-button mt-3">
                                    <button id="Adding" type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </span>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/submitForm.js"></script>

<script>
    let checkedType = document.getElementById('typeServiceChosen').getAttribute('data-id');
    document.querySelectorAll("#typeService").forEach(e => {
        if (e.value == checkedType)
            e.checked = true;
    })
</script>