<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã DGSP</th>
            <th scope="col">MaKH</th>
            <th scope="col">MASP</th>
            <th scope="col">Ngày đánh giá</th>
            <th scope="col">Đánh giá</th>
            <th scope="col">Chi tiết đánh giá</th>
            <th scope="col">Thêm đánh giá</th>
        </tr>
    </thead>
    {{#each productRating}}
    <tbody>
        <tr>
            <th scope="row">{{MADGSP}}</th>
            <td>{{MAKH}}</td>
            <td>{{MASP}}</td>
            <td>{{NGAYDANHGIA}}</td>
            <td>{{DANHGIA}}⭐</td>
            <td>{{CHITIETDANHGIA}}</td>
            <td><a href="/productRating/{{MASP}}/add" style="text-decoration:none;">THÊM ĐÁNH GIÁ</a></td>
        </tr>
    </tbody>
    
    {{/each}}

</table>
